<!doctype html>
<html lang="en">
{% extends "layout.html" %}
<head>
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>

<body>
{% block nav %}
{{ super() }}
<div class="aboutme-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center border-bottom">
    <h1 class="display-3">About Me</h1>
    <img class="rounded-circle" src="static/alex.jpg" style="user-select: auto;" width="400" height="400" alt="alex">
    <p class="lead">I'm Alex Marriott, a Junior DevOps Engineer working remotely from Bournemouth UK.</p>
    <p class="lead">This website acts as a personal Blog/CV/Place to store my personal projects and link my github
        repos.</p>
</div>
    <h1 class="display-4">Projects</h1>
    <div class="card-group">
        {% for project in github_projects %}
        <div class="card">
            <div class="card-body">
                <div class="w3-container">{{ project['readme']|safe }}</div>
                <button type="button" class="btn btn-lg btn-block btn-primary btn-project"
                            onclick="window.location.href='{{ url_for('project', repo_name=project['repo_name']) }}'">
                        View
                    </button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</body>


</html>
